@font-face {
  src: url("assets/font/Artifika-Regular.ttf")
    format("truetype");
  font-family: "Artifika";
}

@font-face {
  src: url("assets/font/WendyOne-Regular.ttf")
    format("truetype");
  font-family: "Wendy One";
}

.game {
  width: 900px;
  min-height: 100px;
  background-color: #0a5c52;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
  font-family: "Wendy One";
  color: #2c1126;
  font-size: 50px;
}

p {
  font-family: "Artifika";
  color: #f4ebe8;
  font-size: 17px;
}

input {
  font-family: "Artifika";
  color: #f4ebe8;
  font-size: 17px;
}

.bouton {
  background-color: #ac695d;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
}

body {
  width: auto;
  height: 1100px;
  background-color: #0f3757;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  overflow: hidden;
}

.option {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
