@font-face {
  src: url("assets/font/Artifika-Regular.ttf")
    format("truetype");
  font-family: "Artifika";
}

@font-face {
  src: url("assets/font/WendyOne-Regular.ttf")
    format("truetype");
  font-family: "Wendy One";
}

.game {
  width: 900px;
  min-height: 100px;
  background-color: #0a5c52;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

h1 {
  font-family: "Wendy One";
  color: #2c1126;
  font-size: 50px;
}

p {
  font-family: "Artifika";
  color: #f4ebe8;
  font-size: 17px;
}

input {
  font-family: "Artifika";
  color: #f4ebe8;
  font-size: 17px;
}

.bouton {
  background-color: #ac695d;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  font-family: "Artifika";
}

body {
  width: auto;
  height: 1100px;
  background-color: #0f3757;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image {
  overflow: hidden;
}

.option {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.effacer {
  position: relative;
  bottom: 0;
  left: 350px;
}

.reset {
  background-color: #ac695d;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  font-family: "Artifika";
}

.son {
  position: relative;
  bottom: 40px;
  right: 400px;
  color: #ac695d;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  font-family: "Artifika";
}

.son::after {
  content: "Son";
}

.chapitre7 > .game{
  background-color: rgba(15, 55, 87, 0.6);
}

.chapitre7 > .blur {
  display: block;
  filter:blur(20px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: -1;
}

.blur {
  display: none;
}

body.chapitre7 {
  background-color: black;
}




